* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;

}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*      --      task-1         --        */


#categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.item {
  width: 392px;
  height: auto;
  border-radius: 8px;
  padding: 16px;
  background: #f6f6fe;
}

.item h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.item li {
  display: flex;
  align-items: center;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item li:last-child {
  margin-bottom: 0;
}



/*     --       task-2         --        */


.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  height: auto;
  gap: 48px 24px;
  margin: 0 auto;
  padding: 0;

}


.gallery li {

  width: calc((100% - 2 * 24px) / 3);
  height: 300px;
  display: flex;

}

.gallery img {
  object-fit: cover;
}



/*     --       task-3         --        */

#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;
}

#name-input:hover {
  border: 1px solid #000;
}

#name-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

}

h1,
#name-output {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}



/*     --       task-4         --        */






.login-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}


.login-form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 8px;
}


.login-form input {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 10px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}


.login-form input:hover {
  border: 1px solid #000;
}

.login-form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  display: block;
  cursor: pointer;
}


.login-form button:hover {
  background: #6c8cff;
}



/*     --       task-5         --        */



.widget {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.widget p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.color {}

.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  display: block;
  cursor: pointer;
}

.change-color:hover {
  background: #6c8cff;
}



/*     --       task-6         --        */



#controls {
  display: flex;
  justify-content: center;
  gap: 16px;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
  background: #f6f6fe;
}


#controls input {
  text-align: center;
  border: 1px solid #808080;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;

}

#controls input:hover {
  border: 1px solid #000;
}



button[data-create] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  display: block;
  cursor: pointer;
}

button[data-create]:hover {
  background: #6c8cff;
}

button[data-destroy] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #ff4e4e;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  display: block;
  cursor: pointer;
}

button[data-destroy]:hover {
  background: #ff7070;
}

#boxes {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 44px;

}